<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container d-flex my-5 border-radius-2">
    <div>
        <h1>Schedule your</h1>
        <h3>Contacts here</h3>
        <p class="mt-3 text-justify">
            Bem-vindo ao nosso espaço digital projetado para simplificar a organização da sua vida pessoal e profissional. Imagine uma agenda de contatos que vai além de simplesmente armazenar nomes e números, mas que se torna o seu assistente pessoal na gestão eficiente dos seus relacionamentos.
            
            Nossa plataforma foi desenvolvida com o propósito de oferecer mais do que apenas uma lista de contatos. Aqui, você encontrará uma ferramenta intuitiva e flexível, adaptável às suas necessidades individuais. Seja para organizar contatos profissionais, manter a rede de amigos atualizada ou gerenciar os compromissos do dia a dia, estamos aqui para simplificar o seu mundo.
        </p>    
    </div>
    <div class="mt-5 ml-3">
        <img class="rounded-circle opacity-25" style="width: 600px;" src="./img/agenda-img.png" alt="schedule">
    </div>
</div>

<%- include('includes/footer') %>