<div class="auth-container">
  <h1>Entrar</h1>
  <form action="/login" method="POST">
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input type="email" name="email" placeholder="digite o seu e-mail">
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="digite a sua senha">
    </div>
    <input type="submit" value="Entrar">
    <p>Não tem uma conta? <a href="/register">Clique aqui!</a></p>
  </form>
</div>